<h2>Dynamic Metafields</h2>
{% comment %} {% assign key = 'example_metafield' %} {% endcomment %}
{% comment %} get key from settings {% endcomment %}
{% comment %} <p>{{ product.metafields.custom[section.settings.metafield_key] }}</p> {% endcomment %}
{% comment %} <p>{{ product.metafields.custom[key] }}</p> {% endcomment %}
<p>{{ product.metafields.custom[section.settings.metafield_key] }}</p>
{% schema %}
{
  "name": "Dynamic Metafield",
  "settings": [
    {
      "id": "metafield_key",
      "label": "Metafield Key",
      "type": "text"
    }
  ],
  "presets": [
    {
      "name": "Dynamic Metafield"
    }
  ]
}
{% endschema %}
