<div class="related-products-custom">
  <h2>You might also like</h2>
  {% for related_product in product.recommendations %}
    <div class="related-product">
      <h4>{{ related_product.title }}</h4>

      {% render 'product-label', product: related_product %}
    </div>
  {% endfor %}
</div>
