<h2>This is some hardcoded title</h2>
<p>{{ settings.promotion_name }}</p>
{% comment %} we can add sections using section tag {% endcomment %}
{% section 'image-banner' %}
{% section 'promotions-group' %}

